go 1.20

use (
	./lambdas/aggregate-findings
	./lambdas/calculate-score
	./lambdas/split-per-account
	./lambdas/collect-findings
	./lambdas/conformance-pack
	./lambdas/publish-metrics
	./lambdas/workload-context
	.
)
